:root {
  --primary-color: #212121;
  --link-logo-color: #2196f3;
  --description-color: #757575;
  --prime-white-color: #ffffff;
  --footer-color: #2f303a;
  --team-dscrp-color: #f5f4fa;
  --header-border-color: #ececec;
  --icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--prime-white-color);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title__section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .title__section {
    max-width: 480px;
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-mobile.jpg);
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .title__section {
    max-width: 480px;
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-mobile@2x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .title__section {
    max-width: 768px;
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-tablet.jpg);
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (max-width: 1199px) {
  .title__section {
    max-width: 768px;
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-tablet@2x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .title__section {
    max-width: 1600px;
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-desktop.jpg);
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .title__section {
    max-width: 1600px;
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/bg-desktop@2x.jpg);
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu__container {
    padding: 48px 25px;
  }
  .mobile-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--prime-white-color);
    overflow-y: scroll;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-button {
    position: fixed;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
  }
  .mobile-menu__close-button:hover {
    color: var(--link-logo-color);
  }
  .mobile-menu__close-button-icon {
    fill: currentColor;
  }
  .burger-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    top: 10px;
    right: 15px;
  }
  .burger-btn:hover, .burger-btn:focus {
    color: var(--link-logo-color);
  }
  .burger-btn__icon {
    fill: currentColor;
    width: 40px;
    height: 40px;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
  }
  .nav-list__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  .nav-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .nav-list__link-current {
    color: var(--link-logo-color);
  }
  .mobile-menu-contacts {
    margin-top: 302px;
    margin-bottom: 64px;
  }
  .mobile-menu-contacts__item:first-child {
    margin-bottom: 32px;
  }
  .mobile-menu-contacts__link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--link-logo-color);
  }
  .mobile-menu-contacts__link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--description-color);
  }
  .mobile-menu-social-links {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .mobile-menu-social-links__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  .mobile-menu-social-links__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-menu-social-links__link {
    padding: 0 10px;
    color: var(--link-logo-color);
  }
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo__prefix {
  color: var(--link-logo-color);
}

.logo__suffix {
  color: var(--prime-white-color);
}

@media screen and (max-width: 767px) {
  .logo__footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .logo__footer {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .logo__footer {
    display: block;
  }
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  background-color: var(--link-logo-color);
  color: var(--prime-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.5);
}

.subtitle {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .subtitle {
    margin-bottom: 50px;
  }
}

.footer__button {
  display: inline-flex;
  padding: 10px 28px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  fill: var(--prime-white-color);
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 767px) {
  .footer__button {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__button {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer__button {
    margin-left: 12px;
  }
}

.modal-form__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 55px;
  align-self: center;
}

.title__button {
  text-align: center;
  padding: 10px 32px;
}

.footer-subscribe__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--prime-white-color);
  margin-bottom: 20px;
}

.footer-subscribe__field {
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
  color: var(--prime-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe__field:focus {
  border-color: var(--link-logo-color);
  outline: none;
}

.footer-subscribe__field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__field {
    width: 358px;
    height: 50px;
    margin-bottom: 0;
  }
  .footer-subscribe__title {
    text-align: left;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__sign {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 12px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--link-logo-color);
  outline: none;
}

.modal-form__label {
  display: inline-flex;
  margin-bottom: 4px;
  margin-top: 10px;
  color: var(--description-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--link-logo-color);
}

.modal-form__input-wrapper {
  position: relative;
}

.modal-form__checkbox-wrapper {
  position: relative;
}

.modal-form__comment-box {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment-box:focus {
  outline: none;
  border: 1px solid var(--link-logo-color);
}

.modal-form__comment-box::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__policy-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-bottom: 30px;
}

.modal-form__policy-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  margin-right: 10px;
  border-radius: 2px;
}

.modal-form__checkbox:checked + .modal-form__policy-label::before {
  background: var(--link-logo-color) url(../img/icons/check.svg) no-repeat center;
  border: var(--link-logo-color);
}

.modal-form__policy-link {
  color: var(--link-logo-color);
  text-decoration: underline;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95vw;
  height: 96vh;
  overflow: scroll;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__close-button {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-window__close-button:hover {
  color: var(--link-logo-color);
}

.modal-window__close-button-icon {
  fill: currentColor;
}

.social-links-list-footer {
  display: flex;
  justify-content: center;
}

.social-links-list-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-links-list-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--prime-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list-footer__link:hover, .social-links-list-footer__link:focus {
  background-color: var(--link-logo-color);
}

@media screen and (min-width: 1200px) {
  .social-links-list-footer {
    justify-content: flex-start;
  }
}

.social-links__list {
  display: flex;
  justify-content: center;
}

.social-links__list-item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: var(--link-logo-color);
  fill: var(--prime-white-color);
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.advantages__title-info {
  color: var(--description-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages__icon {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--team-dscrp-color);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .advantages-list__item {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .advantages__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .advantages-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features__section {
  padding-top: 0;
}

.card-content {
  padding: 20px 18px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-content__type {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-content__description {
  color: var(--description-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  overflow: auto;
  padding: 60px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--prime-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features__thumb {
  position: relative;
  overflow: hidden;
}

.features-list__card-link {
  display: block;
}

.features-list__card-link:hover .overlay,
.features-list__card-link:focus .overlay {
  transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .features-list__card-link {
    display: block;
  }
  .features-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .features-list__card {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .features-list__card:hover, .features-list__card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 1200px) {
  .features-list__card {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.filter-list {
  display: flex;
}

.filter-button {
  background-color: var(--team-dscrp-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  background-color: var(--link-logo-color);
  color: var(--prime-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .filter-list {
    flex-wrap: wrap;
  }
  .filter-list__item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
  .filter-list__item:not(:last-child) {
    margin-right: 8px;
  }
}

.footer {
  background-color: var(--footer-color);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.location {
  color: var(--prime-white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.contacts-link-footer {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-footer:hover, .contacts-link-footer:focus {
  color: var(--link-logo-color);
}

.footer-links__title {
  color: var(--prime-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .location {
    text-align: center;
  }
  .footer-links {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .footer-links__title {
    text-align: center;
    margin-bottom: 20px;
  }
  .contacts-link-footer {
    margin-top: 9px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  .footer-info {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-links {
    width: 30%;
  }
  .footer-links__title {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-subscribe {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
  .address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts-link-footer {
    margin-top: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-info {
    display: block;
    width: 25%;
  }
  .address {
    display: block;
  }
  .footer-links {
    display: block;
    width: 25%;
  }
  .footer-links__title {
    text-align: left;
  }
  .footer-subscribe {
    width: 50%;
    margin-top: 0;
  }
  .footer-subscribe__form {
    display: flex;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.customers-list__link {
  display: flex;
  height: 92px;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--icon-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover, .customers-list__link:focus {
  border: 1px solid var(--link-logo-color);
  color: var(--link-logo-color);
}

.icon__customer {
  fill: currentColor;
}

.customers-list__item {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .customers-list__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .customers-list__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .customers-list__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.our-team__section {
  background-color: var(--team-dscrp-color);
}

.our-team__card-content {
  padding-top: 30px;
  padding-bottom: 24px;
}

.our-team__card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-team__card-position {
  color: var(--description-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.our-team__card {
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--prime-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .our-team__card {
    max-width: 450px;
  }
  .our-team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .our-team__card {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .our-team__card {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

@media screen and (max-width: 767px) {
  .header__container {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .navmenu,
  .navmenu-list {
    display: none;
  }
  .contacts-header-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    position: relative;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .mobile-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }
  .navmenu,
  .navmenu-list {
    display: flex;
  }
  .navmenu-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .navmenu-list__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navmenu-list__link:hover, .navmenu-list__link:focus {
    color: var(--link-logo-color);
  }
  .navmenu-list__link::after {
    position: absolute;
    top: 44px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: transparent;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navmenu-list__link-current {
    color: var(--link-logo-color);
  }
  .navmenu-list__link-current::after {
    background-color: var(--link-logo-color);
    color: var(--link-logo-color);
  }
  .contacts-header-link {
    display: inline-flex;
    align-items: center;
    color: var(--description-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-header-link:hover, .contacts-header-link:focus {
    color: var(--link-logo-color);
  }
  .contacts-header-icon__mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;
  }
  .contacts-header-icon__phone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
  .contacts-header-list__item {
    display: block;
    height: 14px;
  }
  .contacts-header-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }
  .header__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .navmenu-list {
    display: flex;
  }
  .navmenu-list__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navmenu-list__link:hover, .navmenu-list__link:focus {
    color: var(--link-logo-color);
  }
  .navmenu-list__link::after {
    position: absolute;
    top: 42px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: transparent;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navmenu-list__link-current {
    color: var(--link-logo-color);
  }
  .navmenu-list__link-current::after {
    background-color: var(--link-logo-color);
    color: var(--link-logo-color);
  }
  .navmenu-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .contacts-header-list {
    display: flex;
  }
  .contacts-header-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts-header-link {
    display: inline-flex;
    align-items: center;
    color: var(--description-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-header-link:hover, .contacts-header-link:focus {
    color: var(--link-logo-color);
  }
  .contacts-header-icon__mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts-header-icon__phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}

.title__container {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
}

.title__sign {
  margin-bottom: 32px;
  color: var(--prime-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .title__container {
    max-width: 696px;
  }
  .title__sign {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 767px) {
  .what-we-do__section {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .what-we-do__section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-we-do__section {
    padding-top: 0;
  }
  .team-activity-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team-activity-list__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .team-activity__thumb {
    position: relative;
  }
  .team-activity__thumb-description {
    position: absolute;
    bottom: 0%;
    color: var(--prime-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px;
  }
}
/*# sourceMappingURL=main.css.map */