.filter__section {
	padding-bottom: 0;
}

.filter-list {
	margin-bottom: 34px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	width: 611px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 0;
}

.filter-button {
	background-color: var(--team-dscrp-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	border-style: none;
	border-radius: 4px;
	padding: 6px 22px;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: var(--link-logo-color);
		color: var(--prime-white-color);
		cursor: pointer;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
