.footer {
	background-color: var(--footer-color);
}

.footer__container {
	display: flex;
	flex-direction: row;
	align-items: baseline;

	padding-top: 60px;
	padding-bottom: 60px;
}

.location {
	display: inline-block;
	margin-top: 0;

	color: var(--prime-white-color);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	font-style: normal;
}

.contacts-link-footer {
	display: block;

	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	margin-top: 9px;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--link-logo-color);
	}
}

.footer-links__title {
	color: var(--prime-white-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-links {
	margin-left: 70px;
}
