.footer {
	background-color: var(--footer-color);
}

.footer__container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.location {
	color: var(--prime-white-color);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	font-style: normal;
}

.contacts-link-footer {
	display: block;

	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--link-logo-color);
	}
}

.footer-links__title {
	color: var(--prime-white-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

// 0 - 767px
@media screen and (max-width: 767px) {
	.location {
		text-align: center;
	}

	.footer-links {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.footer-links__title {
		text-align: center;

		margin-bottom: 20px;
	}

	.contacts-link-footer {
		margin-top: 9px;
		text-align: center;
	}
}

// 768px - 1199px
@media screen and (min-width: 768px) {
}
