.customers-list {
	display: flex;
	flex-wrap: wrap;

	margin-top: -30px;
	margin-left: -30px;
}

.customers-list__link {
	display: flex;
	height: 92px;
	justify-content: center;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 16px;

	border: 1px solid var(--icon-color);
	box-sizing: border-box;
	border-radius: 4px;

	color: var(--icon-color);

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border: 1px solid var(--link-logo-color);
		color: var(--link-logo-color);
	}
}

.icon__customer {
	fill: currentColor;
}

.customers-list__item {
	margin-top: 30px;
	margin-left: 30px;
}

// 0 - 767px
@media screen and (max-width: 767px) {
	.customers-list__item {
		flex-basis: calc(100% / 2 - 30px);
	}
}

// 768px - 1199px
@media screen and (min-width: 768px) {
	.customers-list__item {
		flex-basis: calc(100% / 3 - 30px);
	}
}

// 1200px+
@media screen and (min-width: 1200px) {
	.customers-list__item {
		flex-basis: calc(100% / 6 - 30px);
	}
}
