// .title__container {
// 	max-width: 696px;

.title__container {
	max-width: 390px;

	margin-left: auto;
	margin-right: auto;
}

.title__sign {
	margin-bottom: 32px;

	color: var(--prime-white-color);
	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

// 1200px+
@media screen and (min-width: 1200px) {
	.title__container {
		max-width: 696px;
	}

	.title__sign {
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;
	}
}
