.title__container {
	max-width: 696px;
	margin-left: auto;
	margin-right: auto;
}

.title__sign {
	margin-bottom: 30px;

	color: var(--prime-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
}
