@media screen and (max-width: 767px) {
	.mobile-menu__container {
		padding: 48px 25px;
	}

	.mobile-menu {
		position: fixed;
		z-index: 100;

		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: var(--prime-white-color);
		overflow-y: scroll;

		transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	.mobile-menu.is-open {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.mobile-menu__close-button {
		position: fixed;
		top: 10px;
		right: 15px;
		border: none;
		background-color: transparent;

		width: 40px;
		height: 40px;

		&:hover {
			color: var(--link-logo-color);
		}
	}

	.mobile-menu__close-button-icon {
		fill: currentColor;
	}

	.burger-btn {
		position: absolute;
		background-color: transparent;
		border: none;
		padding: 0;
		line-height: 0;

		top: 10px;
		right: 15px;

		&:hover,
		&:focus {
			color: var(--link-logo-color);
		}

		&__icon {
			fill: currentColor;
			width: 40px;
			height: 40px;
		}
	}

	.nav-list {
		display: flex;
		flex-direction: column;
	}

	.nav-list__item {
		font-weight: 500;
		font-size: 40px;
		line-height: 1.18;

		letter-spacing: 0.02em;

		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	.nav-list__link-current {
		color: var(--link-logo-color);
	}

	.mobile-menu-contacts {
		margin-top: 302px;
		margin-bottom: 64px;

		&__item:first-child {
			margin-bottom: 32px;
		}
	}

	.mobile-menu-contacts__link-tel {
		font-weight: 500;
		font-size: 34px;
		line-height: 1.18;
		letter-spacing: 0.02em;

		color: var(--link-logo-color);
	}

	.mobile-menu-contacts__link-mail {
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 0.02em;

		color: var(--description-color);
	}

	.mobile-menu-social-links {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;

		&__item {
			font-weight: 500;
			font-size: 18px;
			line-height: 1.22;
			letter-spacing: 0.02em;

			&:not(:last-child) {
				border-right: 1px solid rgba(33, 33, 33, 0.2);
			}
		}

		&__link {
			padding: 0 10px;

			color: var(--link-logo-color);
		}
	}
}
