.social-links__list {
	display: flex;
	justify-content: space-between;
}

.social-links__link {
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--icon-color);
	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: var(--link-logo-color);
		fill: var(--prime-white-color);
	}
}
