.subtitle {
	font-size: 28px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;

	margin-bottom: 30px;
}

// 1200px+
@media screen and (min-width: 1200px) {
	.subtitle {
		margin-bottom: 50px;
	}
}
