// .title__section {
// 	max-width: 1600px;

.title__section {
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 116px;
	padding-bottom: 116px;

	background-color: #c4c4c4;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-image-mobile.jpg);
	background-size: cover;
	text-align: center;
}
