:root {
	--primary-color: #212121;
	--link-logo-color: #2196f3;
	--description-color: #757575;
	--prime-white-color: #ffffff;
	--footer-color: #2f303a;
	--team-dscrp-color: #f5f4fa;
	--header-border-color: #ececec;
	--icon-color: #afb1b8;
}
